*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}

.container{
    max-width: 1340px;
    margin: auto;
}

.Skincare{
    padding-bottom: 240px;
}

.scincare__content h1{
    font-family: 'STSong';
    font-style: normal;
    font-weight: 300;
    font-size: 65px;
    line-height: 98px;
    text-align: center;
    color: #000000;
}
.scincare__content h2{
    font-family: 'Style Script';
    font-style: normal;
    font-weight: 400;
    font-size: 137px;
    line-height: 112px;
    text-align: center;
    color: #68513F;
    transform: rotate(-5.08deg);
    padding-bottom: 40px;
}
.scincare__content p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding-bottom: 47px;
}
.scincare__btn{
    display: flex;
    justify-content: center;
}
.scincare__btn a{
    padding: 13px 21px;
    background-color: #F1EBE7;
    border: 1px solid #DACEC6;
    border-radius: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #68513F;
}
.card__container{
    display: flex;
    justify-content: center;
}
.skincare__card-first .card{
    width: 221px;
    height: 183px;
    position: relative;
    top: 80px;
    right: 150px;

}

.skincare__card-second .card{
    width: 220px;
    height: 220px;
    position: relative;
    top: 470px;
    right: 300px;

}

.skincare__card-third .card{
    width: 220px;
    height: 220px;
    position: relative;
    top: 565px;
    left: 420px;

}

.skincare__card-four .card{
    width: 221px;
    height: 114px;
    position: relative;
    top: 260px;
    left: 280px;

}

.skincare__card-five .card{
    width: 159px;
    height: 201px;
    position: relative;
    top: 21px;
  
}

.card {
    position: relative;
    perspective: 1000px;
  }
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  .front {
    background-color: #fff;
  }
  .back {
    background-color: #68513F;
    transform: rotateY(180deg);
  }
  .back__img{
    padding: 13px 21px;
    background-color: #F1EBE7;
    border: 1px solid #DACEC6;
    border-radius: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #68513F;
  }

  .card:hover .front {transform: rotateY(180deg);}
  .card:hover .back {transform: rotateY(360deg);}


.face__content{
    width: 1340px;
    height: 500px;
}

.face__content img{
    width: 100%;
}

.face{
    padding-bottom: 90px;
}

.products{
    padding-bottom: 120px;
}

.products__title h2{
    font-family: 'Style Script';
    font-style: normal;
    font-weight: 400;
    font-size: 137px;
    line-height: 112px;
    text-align: center;
    color: #68513F;
}

.products__title h3{
    font-family: 'STSong';
    font-style: normal;
    font-weight: 300;
    font-size: 65px;
    line-height: 98px;
    text-align: center;
    color: #000000;
    padding-bottom: 50px;
}






.products__staf{
    display: grid;
    place-items: center;
    line-height: 1.6;
}

.products__card{
    color: white;
    background-image: url(../img/produscts1.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.products__card-second{
    color: white;
    background-image: url(../img/products2.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
}
.products__card-second:hover{
    transform: scale(1.05);
}
.products__card-second:hover .card-content{
    transform: translateY(0);
}
.products__card-second:hover .card-title::after{
    transform: scaleX(1);
}
.products__card:hover{
    transform: scale(1.05);
}

.products__card-thierd{
    color: white;
    background-image: url(../img/products3.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
}
.products__card-thierd:hover{
    transform: scale(1.05);
}
.products__card-thierd:hover .card-content{
    transform: translateY(0);
}
.products__card-thierd:hover .card-title::after{
    transform: scaleX(1);
}


.products__card-four{
    color: white;
    background-image: url(../img/products4.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
}
.products__card-four:hover{
    transform: scale(1.05);
}
.products__card-four:hover .card-content{
    transform: translateY(0);
}
.products__card-four:hover .card-title::after{
    transform: scaleX(1);
}


.card-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background:linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
        );
    transform: translateY(60%);
    transition: transform 500ms ease;
}

.products__card:hover .card-content{
    transform: translateY(0);
}

.card-title{
    position: relative;
    width: max-content;
    font-family: 'STSong';
    font-style: normal;
}

.card-title::after{
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding)* -1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background: #68513F;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.products__card:hover .card-title::after{
    transform: scaleX(1);
}

.button{
    cursor: pointer;
    padding: .8em 5.75em;
    background-color: #DACEC6;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #68513F;
    border-radius: 0.25rem;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 20px;

}

.button:hover,
.button:focus{
    background-color:rosybrown;
}

.card__product-cost{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

.card__product-cost span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #DACEC6;
}

.products__staf{
    display: flex;
    justify-content: space-between;
}

.products__card-main{
    background-color: #DACEC6;
    padding: 20px;
    border-radius: 20px;
}




.feture .container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
}

.square{
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.square span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #68513F;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}



.square span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #68513F;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}


.square span:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #68513F;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.feture__btn{
    display: flex;
    justify-content: center;
}

.feture__btn a{
    padding: 13px 21px;
    background-color: #F1EBE7;
    border: 1px solid #DACEC6;
    border-radius: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #68513F;
    cursor: pointer;
}

.content h3{
    font-family: 'Style Script';
    font-style: normal;
    font-weight: 400;
    font-size: 137px;
    line-height: 112px;
    text-align: center;
    color: #68513F;
}
.content h4{
    font-family: 'STSong';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 98px;
    text-align: center;
    color: #000000;
    padding-bottom: 25px;
}
.content p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;  
    text-align: center;
    color: #000000;
    padding-bottom: 39px;
}

.sponsors p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    padding-bottom: 56px;
}

.sponsors__type{
    display: flex;
    justify-content: center;
}

.sponsors__type-img{
    padding-right: 60px;
}
.sponsors{
    padding-bottom: 200px;
}








